@import "parameters.scss";

/*============== for landscape 480px ===========================*/
@media screen and (min-width: 480px) {

  /*--------------------------------------------------------------
  # Typography 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 480px
  --------------------------------------------------------------*/
  .header__logo {
    margin: auto;
  }
  .logo-box {
    height: 143px;
  }
  .tool-box__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-case {
    margin-bottom: 0;
  }

  .icons-case__link {
    &.icons-case__link--row {
      display: flex;
      flex-direction: row;
      .icons-case__link-content {
        margin-left: 14px;
      }
    }
  }
  .icons-case__link-content {
    display: flex;
    align-items: center;
    &.icons-case__link-content--column {
      flex-direction: column;
      span {
        width: 65px;
        margin-left: 11px;
        &:last-child {
          font-family: 'Ubuntu-Regular', 'Arial', sans-serif;
          font-weight: normal;
        }
      }
    }
  }
  /*--------------------------------------------------------------
  # Content 480px
  --------------------------------------------------------------*/
.catalog__item {
  width: 210px;
  height: 185px;
}


  .advantages__item {
    width: 225px;
  }
  /*--------------------------------------------------------------
  # Footer 480px
  --------------------------------------------------------------*/


}

/*============== for landscape 576px ===========================*/
@media screen and (min-width: 576px) {

  /*--------------------------------------------------------------
  # Typography 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 576px
  --------------------------------------------------------------*/
  .catalog__item {
    width: 242px;
    height: 203px;
  }

  .advantages__item {
    width: 270px;
  }
  /*--------------------------------------------------------------
  # Footer 576px
  --------------------------------------------------------------*/
  .subscribe {
    display: block;
    input {
      width: 266px;
    }
  }
}

/*===================================640px====================================*/

@media screen and (min-width: 640px) {


}


/*============== for Tablet 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 768px
  --------------------------------------------------------------*/
  .catalog__item {
    width: 210px;
    height: 185px;
  }

  .advantages__item {
    width: 287px;
  }
  /*--------------------------------------------------------------
  # Footer 768px
  --------------------------------------------------------------*/
}
/*============== for Tablet landscape 1024px ===========================*/
@media screen and (min-width: 920px) {

  /*--------------------------------------------------------------
  # Typography 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 920px
  --------------------------------------------------------------*/

  .menu-btn {
    display: none;
  }
  .navigation-box {
    position: relative;
    max-width: 1310px;
    width: 95%;
    height: 55px;
    margin: auto;
    color: #000;
    background: transparent;
    opacity: 1;
    visibility: visible;
    .main-menu {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      margin-left: 0;
      li {

        padding-bottom: 17px;
        border-bottom: 1px solid transparent;
        transition: 0.3s ease;
        &:hover {
          color: $basic-color-orange;
          border-bottom: 1px solid $basic-color-orange;
          transition: 0.3s ease;
        }
      }
    }
  }


  /*--------------------------------------------------------------
  # Content 920px
  --------------------------------------------------------------*/
  .catalog__item {
    width: 242px;
    height: 203px;
  }
  /*--------------------------------------------------------------
  # Footer 920px
  --------------------------------------------------------------*/
}

/*============== for Tablet landscape 1024px ===========================*/
@media screen and (min-width: 1152px) {

  /*--------------------------------------------------------------
  # Typography 1152px
  --------------------------------------------------------------*/
  .container__flex-box {
    display: flex;
    justify-content: space-between;
  }
  /*--------------------------------------------------------------
  # Header 1152px
  --------------------------------------------------------------*/

  .tool-box__inner div:not(:first-child) {
    margin-left: 20px;
  }
  .profile-case a {
    margin-left: 20px;
  }
  .icons-case__link.icons-case__link--row .icons-case__link-content {
    margin-left: 9px;
  }
  /*--------------------------------------------------------------
  # Content 1152px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1152px
  --------------------------------------------------------------*/
}
/*============== for PC(notebook) 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography 1280px
  --------------------------------------------------------------*/
  .tool-box__inner div:not(:first-child) {
    margin-left: 40px;
  }
  .profile-case a {
    margin-left: 20px;
  }
  /*--------------------------------------------------------------
  # Header 1280px
  --------------------------------------------------------------*/
  .search-form input[type="search"] {
    width: 381px;
  }
  /*--------------------------------------------------------------
  # Content 1280px
  --------------------------------------------------------------*/
  .catalog__inner {
    justify-content: space-between;
  }

  .catalog__item {
    width: 210px;
    height: 185px;
  }
  /*--------------------------------------------------------------
  # Footer 1280px
  --------------------------------------------------------------*/
  .footer__inner {
    padding: 60px 0 60px;
  }
}

/*============== for PC(desktop) 1440px ===========================*/
@media screen and (min-width: 1440px) {

  /*--------------------------------------------------------------
  # Typography 1440px
  --------------------------------------------------------------*/

  .container {
    width: 100%;
  }
  /*--------------------------------------------------------------
  # Header 1440px
  --------------------------------------------------------------*/
  .tools-box {
    width: 100%;
  }
  /*--------------------------------------------------------------
  # Content 1440px
  --------------------------------------------------------------*/

  .catalog__item {
    width: 242px;
    height: 203px;
  }
  .news__item {
    border: none;
  }
  /*--------------------------------------------------------------
  # Footer 1440px
  --------------------------------------------------------------*/

}

/*============== for PC( HD ) 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1600px
  --------------------------------------------------------------*/

}

/*============== for PC( FullHD ) 1920px ===========================*/
@media screen and (min-width: 1920px) {

  /*--------------------------------------------------------------
  # Typography 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1920px
  --------------------------------------------------------------*/

}
