/*--------------------------------------------------------------
# Parameters * Переменные и миксины
--------------------------------------------------------------*/

$basic-color-orange: #EE5A14;
$basic-color-darkblue: #264885;
$basic-color-green: #23b189;
$basic-color-gray: #eeeeee;
$basic-color-darkgray: #cacaca;
